/*---------------------
  Shop
-----------------------*/
.shop-details {
  display: flex;
  margin: 40px;
  gap: 30px;
}
.product__details__picc {
  display: flex;
  gap: 10px;
}
.product__details__picc_left {
  width: 20%;
}
.product__details__picc_left_img {
  img {
    width: 100%;
  }
}
.product__details__picc_right {
  width: 100%;
  img {
    width: 100%;
  }
}
.product__details__content {
  flex: 1;
}

.product__details_content__text h4 {
  color: #111111;
  font-weight: 700;
  margin-bottom: 10px;
}

.product__details_content__text .rating {
  margin-bottom: 20px;
}

.product__details_content__text .rating i {
  font-size: 15px;
  color: #f7941d;
  display: inline-block;
  margin-right: -5px;
}

.product__details_content__text .rating span {
  display: inline-block;
  color: #3d3d3d;
  margin-left: 5px;
}

.product__details_content__text h3 {
  color: #0d0d0d;
  font-weight: 700;
  margin-bottom: 16px;
}

.product__details_content__text h3 span {
  color: #b7b7b7;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: line-through;
}

.product__details_content__text p {
  margin-bottom: 35px;
}

.product__details__option {
  margin-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__details__option__size {
  display: inline-block;
  margin-right: 50px;
}

.product__details__option__size span {
  color: #111111;
  display: inline-block;
  margin-right: 10px;
}

.product__details__option__size label {
  color: #111111;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 6px 15px;
  margin-bottom: 0;
  margin-right: 5px;
  cursor: pointer;
}

.product__details__option__size label.active {
  background: #111111;
  color: #ffffff;
  border-color: #111111;
}

.product__details__option__size label input {
  position: absolute;
  visibility: hidden;
}

.product__details__option__color {
  display: inline-block;
  position: relative;
  top: 10px;
}

.product__details__option__color span {
  color: #111111;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -9px;
}

.product__details__option__color label {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
}

.product__details__option__color label.c-1 {
  background: #0b090c;
}

.product__details__option__color label.c-2 {
  background: #20315f;
}

.product__details__option__color label.c-3 {
  background: #f1af4d;
}

.product__details__option__color label.c-4 {
  background: #ed1c24;
}

.product__details__option__color label.c-9 {
  background: #ffffff;
}

.product__details__option__color label:after {
  position: absolute;
  left: -3px;
  top: -3px;
  height: 36px;
  width: 36px;
  border: 1px solid #e5e5e5;
  content: "";
  border-radius: 50%;
}

.product__details__option__color label input {
  position: absolute;
  visibility: hidden;
}

.product__details__cart__option {
  margin-bottom: 25px;
  display: flex;
}
.product__details__cart__option .addtocart {
  background-color: #0b090c;
  color: white;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}

.product__details__tab .nav-tabs {
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
}

.product__details__tab .nav-tabs .nav-item {
  margin-right: 50px;
  list-style: none;
}

.product__details__tab .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.product__details__tab .nav-tabs .nav-item .nav-link {
  font-size: 20px;
  color: #b7b7b7;
  padding: 0;
  border: none;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.product__details__tab .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #e53637;
}

.product__details__tab__content {
  padding-top: 35px;
}

.note {
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 25px;
}

.product__details__tab__content__item {
  margin-bottom: 30px;
}

.product__details__tab__content__item:last-child {
  margin-bottom: 0;
}

.product__details__tab__content__item h5 {
  color: #111111;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.product__details__tab__content__item p {
  margin-bottom: 0;
}
/*---------------------
  Related
-----------------------*/

/* <!-- Product Section Begin --> */
.secssion-relate {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.relate-top-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.relate-top-bar-text {
  padding: 8px;
  color: #b7b7b7;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.relate-top-bar-text:first-child {
  color: #111111;
}
.relate-center {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.relate-center-item {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.relate-item {
  width: 265px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 250px;
  perspective: 1000px;
  overflow: hidden;
}
.card-front {
  width: 100%;
  height: 100%;
}
.cart-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  right: -200px;
  top: 20px;
  -webkit-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  transition: all, 0.8s;
  opacity: 0;
}

.relate-item:hover .cart-popup {
  right: 10px;
  opacity: 1;
  cursor: pointer;
}
.cart-popup-favourite,
.cart-popup-search,
.cart-popup-cart {
  background: #ffffff;
  padding: 10px;
  width: 37px;
  color: #111111;
}
.relate-item img {
  width: 100%;
  height: 100%;
}
.relate-body {
  margin-top: 10px;
  line-height: 25px;
}
.relate-body-title {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.relate-body-price {
  display: flex;
  gap: 10px;
}

.relate-body-price1 {
  color: #d70018;
  margin-bottom: 5px;
}

.relate-body-price2 {
  font-size: 11px;
  text-decoration: line-through;
  margin-top: 7px;
}

.relate-check-mau {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.check-mau1,
.check-mau2,
.check-mau3,
.check-mau4 {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.check-mau2 {
  background-color: black;
}
.check-mau3 {
  background-color: blue;
}
.check-mau4 {
  background-color: #b9976a;
}
/* <!-- Product Section End --> */
